<include file="./Addons/Shop/View/default/User/_head.html"/>
<style type="text/css">
    .mui-input-row label {
        width: 25%;
    }

    .mui-input-row label ~ input {
        width: 75%;
    }
</style>
<body>
<div class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">绑定账号</h1>
</div>
<div class="mui-content">
    <form class="mui-input-group" action="{:U('bind_user')}" method="post" onSubmit="return tgSubmit()">
        <div class="mui-input-row">
            <label for="truename">联系人:</label>
            <input type="text" id="truename" name="truename" value="{$info.truename}" placeholder="请输入联系人姓名，用作取货身份凭证">
        </div>
        <div class="mui-input-row">
            <label for="mobile">手机号:</label>
            <input type="text" id="mobile" name="mobile" class="mui-input-clear" placeholder="请输入手机号码" value="{$info.mobile}"
                   data-input-clear="5"><span class="mui-icon mui-icon-clear mui-hidden"></span>
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn mui-btn-danger" onclick="javascript:history.go(-1)">返回首页</button>
            &nbsp;&nbsp;
            <button type="submit" class="mui-btn mui-btn-primary">绑定账号</button>
        </div>
    </form>
</div>
<include file="./Addons/Shop/View/default/User/_footer.html"/>

<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.min.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.min.js?v={:SITE_VERSION}"></script>
<script type="text/javascript">
    mui.init({});
    function tgSubmit() {
        var userName = $('#truename').val();
        if ($.trim(userName) == "") {
            mui.toast("请填写姓名");
            return false;
        }
        var userPhone = $("#mobile").val();
        if ($.trim(userPhone) == "") {
            mui.toast("请填写手机号");
            return false;
        }
        var patrn = /^0?(13[0-9]|15[0123456789]|18[0123456789]|14[0123456789])[0-9]{8}$/;
        if (!patrn.exec($.trim(userPhone))) {
            mui.toast('手机号格式不正确，请确认填写了正确的号码');
            return false;
        }
        return true;
    }
</script>
</body>
</html>