<include file="./Addons/Shop/View/default/User/_head.html"/>
<style type="text/css">


</style>
<body>
<div class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">我的果盘</h1>
</div>
<div class="mui-content" style="padding-top: 3.75rem">
    <empty name="lists">
        <div class="cart_empty">
            <img src="{:ADDON_PUBLIC_PATH}/mobile/cart.png"/>

            <p>果盘还是空的</p>

            <p><a href="index.php?s=/addon/Shop/User/index">去果园转转吧</a></p>
        </div>

        <else/>
        <div class="mui-content-padded cart_list_top">
            <a class="fr orange" href="javascript:void(0);" onClick="deleteCartItem()">删除商品</a>
        </div>
        <ul class="mui-table-view cart_list">
            <form action="{:addons_url('Shop://Wap/confirm_order')}" method="post" onSubmit="return checkCartSubmit()">
                <volist name="lists" id="vo">
                    <li class="mui-table-view-cell mui-media cart_item">
                        <!--<input class="custom_check" id="item_{$vo.id}" rel="{$vo.id}" name="goods_ids[]"
                               type="checkbox" value="{$vo.goods_id}" checked="checked"/>
                        <label for="item_{$vo.id}"><em>&nbsp;</em></label>-->
                        <dl class="goods_item" style="margin:0">
                            <dt class="goods-picture-wrapper mui-pull-left">
                                <img class="mui-media-object mui-pull-left goods_img"
                                     src="{$vo.goods_data.cover|get_cover_url}" style="width: 100%; max-width: 100%"/>
                            </dt>
                            <dd class="operation-wrapper mui-pull-right" style="width: 8rem">
                                <div class="mui-numbox buy_count">
                                    <button class="mui-btn mui-btn-numbox-minus" type="button" style="position: absolute">-</button>
                                    <input class="mui-input-numbox" type="number" name="buyCount[{$vo.goods_id}]"
                                           value="{$vo.num|intval}"
                                           rel="buyCount"/>
                                    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                                </div>
                            </dd>
                            <dd class="mui-media-body goods_desc">
                                <div class="goods-title name">
                                    {$vo.goods_data.title}
                                </div>

                                <p class="info"><span class="colorless">单价:</span><span class="orange">￥<span
                                        class="singlePrice">{$vo.goods_data.price|wp_money_format}</span></span>
                                </p>
                            </dd>
                        </dl>
                    </li>
                </volist>
            </form>
        </ul>
        <!-- cart_list end -->
        <div class="cartBottom">
            <div class="check_all">
                <input class="custom_check check_all" id="checkAll" name="checkAll" type="checkbox"
                       checked="checked"/>
                <label for="checkAll"><em>&nbsp;</em>全选</label>
            </div>
            <div class="total">
                <p>总结：<span class="orange">￥<span id="totalPrice">00.00</span></span></p>

                <p class="count">(共<span id="totalCount">12</span>件。不含运费)</p>
            </div>
            <button class="settlement" type="submit">去结算</button>
        </div>

    </empty>
</div>
<!--<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.min.js"></script>-->
<script type="text/javascript" src="http://yaotv.qq.com/shake_tv/include/js/lib/zepto.1.1.4.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/shop.js?v={:SITE_VERSION}"></script>

<script type="text/javascript">
    mui.init();
    $(function () {
        updatePriceAndCount();
    });
    //删除沟通车的商品
    function deleteCartItem() {
        if ($('input[name="goods_ids[]"]:checked').size() == 0) {
            $.Dialog.fail("请选择要删除的购物车物品");
        } else if (confirm('确认删除？')) {
            var cartIds = "";
            $('input[name="goods_ids[]"]:checked').each(function (index, element) {
                cartIds += $(this).attr('rel') + ",";
            });
            $.Dialog.loading();
            $.ajax({
                url: "{:U('delCart',array('shop_id'=>$shop_id))}",
                data: {ids: cartIds},
                dataType: "json",
                type: "post",
                success: function (data) {
                    window.location.reload();
                }
            })
        }
    }
</script>
</body>
</html>