<include file="./Addons/Shop/View/default/User/_head.html"/>
<link href="{:ADDON_PUBLIC_PATH}/user/css/iconfont.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>

<nav class="mui-bar mui-bar-tab">
    <div class="mui-tab-item mui-active mui-checkbox"
         style="background-color: #F8FAFA; padding-left: 0.5rem; text-align: center; width: 3%; font-size: 0.875rem">

        <span class="mui-tab-label">实付款:</span><span class="goods-price">￥<span id="totalPrice">{$total_price|wp_money_format}</span></span>
    </div>
    <div id="submitOrderTab" class="mui-tab-item one-key-pay">
        <span class="settlement" style="background: transparent; border: 0; color: #F8FAFA; width: 5rem">提交订单</span>
    </div>
</nav>
<div class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">确认订单</h1>
</div>
<div class="mui-content" style="padding-top: 2rem">
    <ul class="mui-table-view cart_list">
        <volist name="lists" id="vo">
            <li class="mui-table-view-cell mui-media cart_item">
                <dl class="goods_item" style="margin:0">
                    <dt class="goods-picture-wrapper mui-pull-left">
                        <img class="mui-media-object goods_img"
                             src="{$vo.cover|get_cover_url}" style="width: 80%; max-width: 80%"/>
                    </dt>
                    <dd class="mui-media-body goods_desc">
                        <div class="goods-title name">
                            {$vo.title}
                        </div>
                        <div class="info">
                            <span class="colorless">单价：</span><span
                                class="singlePrice goods-price">￥{$vo.price|wp_money_format}</span></span>
                            <span style="margin-left: 1rem">数量：</span><span>{$vo.num|intval}</span>
                        </div>
                    </dd>
                </dl>
            </li>
        </volist>
        <li class="mui-table-view-cell mui-media cart_item" style="text-align: center">
            <span style="font-weight: bold">请就近选择一个提货点</span>
        </li>
        <volist name="fetch_address" id="address">
            <li class="mui-table-view-cell mui-media cart_item" style="margin: 0">
                <div class="mui-input-row mui-radio">
                    <label>{$address.intro}</label>
                    <input name="address_radio" type="radio" id="{$address.id}">
                </div>
            </li>
        </volist>
        <li class="mui-table-view-cell mui-media cart_item">
            <textarea name="remark" id="remark" rows="5" style="margin: 0"
                      placeholder="欢迎给我们留言，提供您的意见和建议，我们将竭诚为您提供最优服务。"></textarea>
        </li>
    </ul>
</div>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.min.js"></script>
<script type="text/javascript">
    mui.init();
    var seletedAddressId;
    mui('.mui-input-row.mui-radio').on('tap', 'input',function(){
        seletedAddressId = this.id;
    });

    var submitOrderTab = document.getElementById("submitOrderTab");
    submitOrderTab.addEventListener("tap", function () {
        /*var address_id = $('#address_id').val();
         if (address_id == '') {
         $.Dialog.fail("请选择收货地址");
         return false;
         }*/

        if(seletedAddressId > 0){
            var remark = $('#remark').val();
            var createorderUrl = "{:U('createOrder')}";
            mui.ajax(createorderUrl, {
                data: {
                    address_id: seletedAddressId,
                    remark: remark
                },
                dataType: 'json',
                type: 'post',
                timeout: 10000, //10秒
                success: function (response) {
                    var orderid = parseInt(response);
                    if (orderid == 0) {
                        mui.toast('提交订单失败，请重新尝试' + response);
                    } else {
                        var payUrl = "{:U('qianfangPay')}&order_id=" + orderid;
                        window.location.href = payUrl;
                    }
                },
                error: function (xhr, type, errorThrown) {
                    mui.toast('提交订单失败，请重新尝试' + errorThrown);
                    console.log(type);
                }
            });
        }else{
            mui.alert('请就近选择一个提货点','提示',function(){});
        }
    });
</script>
</body>
</html>