<include file="./Addons/Shop/View/default/User/_head.html"/>

<link href="{:ADDON_PUBLIC_PATH}/user/css/iconfont.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
<!--<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

</header>-->
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">果园</span>
    </a>
    <a class="mui-tab-item" href="#">
        <span class="mui-icon iconfont icon-iconfontbasket"></span>
        <span class="mui-tab-label">果篮</span>
    </a>
    <a class="mui-tab-item" href="#" style="width: 2%">
        <span class="mui-icon iconfont icon-jiesuanfangshi"></span>
        <span class="mui-tab-label">结算</span>
    </a>
</nav>
<div class="mui-content">
    <div id="slider" class="mui-slider mui-fullscreen">
        <div id="sliderSegmentedControl"
             class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                <volist name="categoryList" id="goodsCategory">
                    <a class="mui-control-item" href="#item{$goodsCategory.id}">
                        {$goodsCategory.title}
                    </a>
                </volist>
            </div>
        </div>
        <div class="mui-slider-group" style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);">
            <volist name="categoryList" id="goodsCategory">
                <div id="item{$goodsCategory.id}" class="mui-slider-item mui-control-content">
                    <div id="scroll{$goodsCategory.id}" class="mui-scroll-wrapper">
                        <div id="{$goodsCategory.id}" class="mui-scroll"
                             style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                            <ul class="mui-table-view mui-grid-view">
                                <volist name="goodsList" id="goods">
                                    <if condition="$goodsCategory.id eq 0">
                                        <li class="mui-table-view-cell mui-media" style="width: 50%">
                                            <img src="{$goods.cover|get_cover_url}"/>
                                        </li>
                                    <elseif condition="$goods.category_id eq 1"/>
                                        <li class="mui-table-view-cell mui-media" style="width: 50%">
                                            <img src="{$goods.cover|get_cover_url}"/>
                                        </li>
                                    </if>
                                </volist>
                            </ul>
                            <div class="mui-pull-bottom-tips">
                                <div class="mui-pull-bottom-wrapper"><span class="mui-pull-loading">上拉显示更多</span></div>
                            </div>
                        </div>
                        <div class="mui-scrollbar mui-scrollbar-vertical">
                            <div class="mui-scrollbar-indicator"
                                 style="-webkit-transition: 0ms; transition: 0ms; display: block; height: 14px; -webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);"></div>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
    </div>
</div>
<include file="./Addons/Shop/View/default/User/_footer.html"/>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.min.js?v={:SITE_VERSION}"></script>
<!--<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.pullToRefresh.js?v={:SITE_VERSION}"></script>
<script type="text/javascript"
        src="{:ADDON_PUBLIC_PATH}/user/js/mui.pullToRefresh.material.js?v={:SITE_VERSION}"></script>-->
<script>

    mui.init();
    (function ($) {
        //阻尼系数
        var deceleration = mui.os.ios ? 0.003 : 0.0009;
        $('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: true, //是否显示滚动条
            deceleration: deceleration
        });
        /*$.ready(function () {
         //循环初始化所有下拉刷新，上拉加载。
         $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'),
         function (index, pullRefreshEl) {
         $(pullRefreshEl).pullToRefresh({
         down: {
         callback: function() {
         var self = this;
         setTimeout(function() {
         var ul = self.element.querySelector('.mui-table-view');
         ul.insertBefore(createFragment(ul, index, 10, true), ul.firstChild);
         self.endPullDownToRefresh();
         }, 1000);
         }
         },
         up: {
         callback: function () {
         var self = this;
         setTimeout(function () {
         var ul = self.element.querySelector('.mui-table-view');
         ul.appendChild(createFragment(ul, index, 5));
         self.endPullUpToRefresh();
         }, 1000);
         getMoreGoods();
         }
         }
         });
         });

         function getMoreGoods($categoryID, ul){
         var length = ul.querySelectorAll('li').length;
         var fragment = document.createDocumentFragment();
         var fecthCount = 10;
         var li;
         for (var i = 0; i < fecthCount; i++) {

         }
         }

         /!*var createFragment = function (ul, index, count, reverse) {
         var length = ul.querySelectorAll('li').length;
         var fragment = document.createDocumentFragment();
         var li;
         for (var i = 0; i < count; i++) {
         li = document.createElement('li');
         li.className = 'mui-table-view-cell';
         li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
         fragment.appendChild(li);
         }
         return fragment;
         };*!/
         });*/
    })(mui);
</script>
</body>
</html>