<include file="./Addons/Shop/View/default/User/_head.html"/>

<link href="{:ADDON_PUBLIC_PATH}/user/css/iconfont.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<style type="text/css">
    .mui-table-view .mui-media {
        padding: .75rem 1.25rem;
        position: relative;
        overflow: hidden;
        height: auto;
    }

    .mui-table-view .mui-media-object{
        height: auto;
        line-height: normal;
    }

    .mui-table-view .mui-media-body {
        padding: 0 .625rem;
    }

    .mui-table-view-cell:after {
        left: 0.625rem;
    }

    .mui-segmented-control.mui-scroll-wrapper .mui-control-item.mui-active{
       color:#e74c3c;
       font-weight: 300;
       border-bottom: .125rem solid #e74c3c;
    }

    /*.mui-slider-indicator{
        background: #0CE854;
    }

    .mui-bar{
        background: #0CE854;
    }

    .mui-bar-tab .mui-tab-item{
        color:#00375B;
    }

    .mui-bar-tab .mui-tab-item.mui-active{
        color:#D90D0D;
    }*/

    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
        /*color: #0CE854;*/
    }

    .mui-table-view {
        background: transparent;
    }

    .oblique-tag.oblique-tag-presell {
        background: #E23352;
    }

    .oblique-tag {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: #fff;
        height: .75rem;
        line-height: .8125rem;
        width: 3.5rem;
        font-size: .6875rem;
        text-align: center;
        vertical-align: baseline;
        -webkit-transform: translate(-.6875rem, 1.9375rem) rotate(-45deg);
        transform: translate(-.6875rem, 1.9375rem) rotate(-45deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .goods-picture-wrapper {
        position: relative;
        background-color: #e1e1e1;
        overflow: hidden;
        width: 7.5rem;
        height: 7.5rem;
    }

    i {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    .header-title-text {
        padding: 0 0 0.375rem 0;
    }

    .goods-title{
        font-weight: 700;
        padding: 0.375rem 0 0 0;
        font-size:1rem;
    }
</style>
<body>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">果园</span>
    </a>
    <a class="mui-tab-item" href="#">
        <span class="mui-icon iconfont icon-iconfontbasket"></span>
        <span class="mui-tab-label">果篮</span>
    </a>
    <a class="mui-tab-item" href="#" style="width: 2%">
        <span class="mui-icon iconfont icon-jiesuanfangshi"></span>
        <span class="mui-tab-label">结算</span>
    </a>
</nav>
<div class="mui-content">
    <div id="slider" class="mui-slider mui-fullscreen">
        <div id="sliderSegmentedControl"
             class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px); width: 100%">
                <a class="mui-control-item mui-active" style="width: 50%" href="#itemJingPin"><span
                        class="header-title-text">精品折扣</span></a>
                <a class="mui-control-item" style="width: 50%" href="#itemChangXiao"><span class="header-title-text">畅销分类</span></a>
            </div>
        </div>
        <div class="mui-slider-group" style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);">
            <div id="itemJingPin" class="mui-slider-item mui-control-content">
                <div id="scrollJinPin" class="mui-scroll-wrapper">
                    <div class="mui-scroll"
                         style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                        <ul class="mui-table-view">
                            <volist name="goodsList" id="goods">
                                <li class="mui-table-view-cell mui-media">
                                    <dl>
                                        <dt class="goods-picture-wrapper mui-pull-left">
                                            <img class="mui-media-object" style="width: 100%; max-width: 100%"
                                                 src="{$goods.cover|get_cover_url}"/>
                                            <i class="oblique-tag oblique-tag-presell">热卖</i>
                                        </dt>
                                        <dd class="mui-media-body">
                                            <div class="goods-title">{$goods.title}</div>
                                            <p class="mui-ellipsis">{$goods.content}</p>
                                        </dd>
                                    </dl>
                                </li>

                            </volist>
                        </ul>
                        <!--<div class="mui-pull-bottom-tips">
                             <div class="mui-pull-bottom-wrapper"><span class="mui-pull-loading">上拉显示更多</span></div>
                         </div>-->
                    </div>
                    <div class="mui-scrollbar mui-scrollbar-vertical">
                        <div class="mui-scrollbar-indicator"
                             style="-webkit-transition: 0ms; transition: 0ms; display: block; height: 14px; -webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);"></div>
                    </div>
                </div>
            </div>
            <div id="itemChangXiao" class="mui-slider-item mui-control-content">
                <div id="scrollChangXiao" class="mui-scroll-wrapper">
                    <div class="mui-scroll"
                         style="-webkit-transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                        畅销分类
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Addons/Shop/View/default/User/_footer.html"/>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.min.js?v={:SITE_VERSION}"></script>
<!--<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.lazyload.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.lazyload.img.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.pullToRefresh.js?v={:SITE_VERSION}"></script>
<script type="text/javascript"
        src="{:ADDON_PUBLIC_PATH}/user/js/mui.pullToRefresh.material.js?v={:SITE_VERSION}"></script>-->
<script>

    mui.init();
    (function ($) {
        //阻尼系数
        var deceleration = mui.os.ios ? 0.003 : 0.0009;
        $('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: true, //是否显示滚动条
            deceleration: deceleration
        });

        /*$(document).imageLazyload({
         placeholder:"http://imgcdn.xuxian.com/logo-3.jpg"
         });
         $.ready(function () {
         //循环初始化所有下拉刷新，上拉加载。
         $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'),
         function (index, pullRefreshEl) {
         $(pullRefreshEl).pullToRefresh({
         down: {
         callback: function() {
         var self = this;
         setTimeout(function() {
         var ul = self.element.querySelector('.mui-table-view');
         ul.insertBefore(createFragment(ul, index, 10, true), ul.firstChild);
         self.endPullDownToRefresh();
         }, 1000);
         }
         },
         up: {
         callback: function () {
         var self = this;
         setTimeout(function () {
         var ul = self.element.querySelector('.mui-table-view');
         ul.appendChild(createFragment(ul, index, 5));
         self.endPullUpToRefresh();
         }, 1000);
         getMoreGoods();
         }
         }
         });
         });

         function getMoreGoods($categoryID, ul){
         var length = ul.querySelectorAll('li').length;
         var fragment = document.createDocumentFragment();
         var fecthCount = 10;
         var li;
         for (var i = 0; i < fecthCount; i++) {

         }
         }

         /!*var createFragment = function (ul, index, count, reverse) {
         var length = ul.querySelectorAll('li').length;
         var fragment = document.createDocumentFragment();
         var li;
         for (var i = 0; i < count; i++) {
         li = document.createElement('li');
         li.className = 'mui-table-view-cell';
         li.innerHTML = '第' + (index + 1) + '个选项卡子项-' + (length + (reverse ? (count - i) : (i + 1)));
         fragment.appendChild(li);
         }
         return fragment;
         };*!/
         });*/
    })(mui);
</script>
</body>
</html>