<include file="./Addons/Shop/View/default/User/_head.html"/>
<style type="text/css">
    .mui-input-row label {
        width: 25%;
    }

    .mui-input-row label ~ input {
        width: 75%;
    }
</style>
<body>
<div class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">抽奖</h1>
</div>
<div class="mui-content" style="padding-top: 3.75rem">
    <div class="mui-content-padded" style="margin: 5px;">
        <div id="jq22">
            <div class="plate">
                <a id="plateBtn" href="javascript:" title="开始抽奖">开始抽奖</a>
            </div>

            <div class="prize">
                <h4>奖品设置</h4>
                <ul>
                    <li><strong>一等奖：</strong>iPhone 6 Plus（1名）</li>
                    <li><strong>二等奖：</strong>iPhone 6（2名）</li>
                    <li><strong>三等奖：</strong>iPad Air 2（5名）</li>
                    <li><strong>参与奖：</strong>充电宝（20名）</li>
                </ul>
            </div>

            <div id="result">
                <p id="resultTxt"></p>
                <a id="resultBtn" href="javascript:" title="关闭">关闭</a>
            </div>
        </div>
    </div>
</div>
<include file="./Addons/Shop/View/default/User/_footer.html"/>

<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.min.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.rotate.js?v={:SITE_VERSION}"></script>

<script type="text/javascript">
    mui.init({});
</script>
</body>
</html>