<extend name="Base/no_side_common"/>
<block name="body">
    <div class="span9 page_message">
        <section id="contents">
            <include file="Addons/_nav"/>
            <div class="table-bar">
                <!-- 多维过滤 -->
                <form class="muti_search cf" style="text-align: right " method="post"
                      action="{:addons_url('Shop://Order/lists')}">
                    <div class="" style="line-height: 30px;">
                        <span>订单日期</span>
                        <input type="datetime" name="search_date"
                               class="search-input date input-small" value="{$search_date}"
                               placeholder="2015-12-11">
                        <span>客户信息</span>
                        <input type="text" name="search_keyword"
                               class="search-input input-small" value="{$search_keyword}"
                               placeholder="请输入客户手机号码 或者 姓名" style="width: 12rem">
                        <!-- <a class="sort " href="#" title="排序">排序:高->低</a> -->
                        <button type="submit" class="sch-btn btn" id="searchBtn"
                                style="width: 5rem">搜索
                        </button>
                    </div>
                </form>
            </div>

            <!-- 数据列表 -->
            <div class="data-table">
                <div class="table-striped">
                    <table cellspacing="1">
                        <!-- 表头 -->
                        <thead>
                        <tr>
                            <volist name="title_lists" id="field">
                                <!--<empty name="field.width">
                                  <th>{$field.title}</th>
                                <else />
                                  <th width="{$field.width}%">{$field.title}</th>
                                </empty>-->
                                <th>{$field}</th>
                            </volist>
                        </tr>
                        </thead>

                        <!-- 列表 -->
                        <tbody>
                        <volist name="order_lists" id="data">
                            <tr>
                                <td>{$data.order_number}</td>
                                <td>{$data.goods}</td>
                                <td>{$data.uid}</td>
                                <td>{$data.total_price}</td>
                                <td>{$data.cTime|time_format}</td>
                                <td>{$data.pay_type|getNamebyPayType}</td>
                                <td>{$data.status_code|getNamebyOrderStatus}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page"> {$_page|default=''}</div>
        </section>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
        ';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function(){
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
        });
    </script>
</block>
