<extend name="Base/no_side_common"/>
<block name="body">
    <div class="span9 page_message">
        <section id="contents">
            <include file="Addons/_nav"/>
            <div class="table-bar">
                <!-- 多维过滤 -->
                <notempty name="muti_search">
                    <form class="muti_search cf" style="text-align: right " method="post" action="{:addons_url('Shop://Order/lists')}">
                        <div class="" style="line-height: 30px;">
                            <span>订单日期</span>
                            <input type="datetime" name="search_date"
                                   class="search-input date input-small" value="{$search_date}"
                                   placeholder="2015-12-11">
                            <span>客户信息</span>
                            <input type="text" name="search_key"
                                   class="search-input date input-small" value="{$search_keyword}"
                                   placeholder="请输入客户姓名 或者 手机号码">


                            <!-- <a class="sort " href="#" title="排序">排序:高->低</a> -->
                            <button type="submit" class="sch-btn btn" id="searchBtn"
                                    style="width: 5rem">搜索
                            </button>
                        </div>
                    </form>
                </notempty>
            </div>

            <!-- 数据列表 -->
            <div class="data-table">
                <div class="table-striped">
                    <table cellspacing="1">
                        <!-- 表头 -->
                        <thead>
                        <tr>
                            <if condition="$check_all">
                                <th class="row-selected row-selected"><input type="checkbox" id="checkAll"
                                                                             class="check-all regular-checkbox"><label
                                        for="checkAll"></label></th>
                            </if>
                            <volist name="list_grids" id="field">
                                <!--<empty name="field.width">
                                  <th>{$field.title}</th>
                                <else />
                                  <th width="{$field.width}%">{$field.title}</th>
                                </empty>-->
                                <th>{$field.title}</th>
                            </volist>
                        </tr>
                        </thead>

                        <!-- 列表 -->
                        <tbody>
                        <volist name="list_data" id="data">
                            <tr>
                                <if condition="$check_all">
                                    <td><input class="ids regular-checkbox" type="checkbox" value="{$data['id']}"
                                               name="ids[]" id="check_{$data['id']}"><label
                                            for="check_{$data['id']}"></label></td>
                                </if>
                                <volist name="list_grids" id="grid">
                                    <td>{:get_list_field($data,$grid,$model)}</td>
                                </volist>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page"> {$_page|default=''}</div>
        </section>
    </div>
</block>
<block name="script">
    <script type="text/javascript">

    </script>
</block>
