<include file="./Addons/Shop/View/default/Admin/_head.html"/>
<link href="{:ADDON_PUBLIC_PATH}/user/css/mui.picker.min.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<div class="mui-bar mui-bar-nav">
    <h1 class="mui-title">销售统计</h1>
</div>
<div class="mui-content" style="padding-top: 3.75rem">
    <div class="mui-content-padded" style="margin: 5px;">
        <h5 class="mui-content-padded">起始时间</h5>
        <button id="start" data-options='{"type":"date","beginYear":2015,"endYear":2016}' class="btn mui-btn mui-btn-block">选择起始时间</button>
        <h5 class="mui-content-padded">截止时间</h5>
        <button id="end" data-options='{"type":"date","beginYear":2015,"endYear":2016}' class="btn mui-btn mui-btn-block">选择起始时间</button>
        <button id="calBtn" type="button" class="mui-btn mui-btn-danger mui-btn-block">开始统计</button>
    </div>
</div>