<include file="./Addons/Shop/View/default/Admin/_head.html"/>
<link href="{:ADDON_PUBLIC_PATH}/user/css/mui.picker.min.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<style>
    .mui-table {
        padding: 0.625rem 1.25rem;
    }
</style>
<div class="mui-bar mui-bar-nav">
    <h1 class="mui-title">用户订单</h1>
</div>
<div class="mui-content" style="padding-top: 3.75rem">
    <ul class="mui-table-view">
        <li>
            <div class="mui-table">
                <div class="mui-table-cell">客户姓名：{$userInfo['truename']}</div>
            </div>
            <div class="mui-table">
                <div class="mui-table-cell">客户手机：{$userInfo['mobile']}</div>
            </div>
        </li>
        <volist name="lists" id="order">
            <li class="mui-table-view-cell mui-media">
                <div class="mui-table">
                    <div class="mui-table-cell">
                        订单号码:{$order['order_number']}
                    </div>
                </div>
                <div class="mui-table">
                    <div class="mui-table-cell">
                        <span>下单时间:{$order['order_date']}</span>
                    </div>

                </div>
                <div class="mui-table">
                    <div class="mui-table-cell">
                        <span>订单状态:{$order['order_status']}</span>
                    </div>
                </div>
                <volist name="order.goods" id="goods">
                    <div class="mui-table">
                        <div class="mui-table-cell">
                            <dl class="goods_item" style="margin:0">
                                <dt class="goods-picture-wrapper mui-pull-left">
                                    <img class="mui-media-object goods_img"
                                         data-original="{$goods.cover|get_cover_url}"
                                         style="width: 80%; max-width: 80%"/>
                                </dt>
                                <dd class="mui-media-body goods_desc">
                                    <div class="goods-title name">
                                        <span>{$goods.title}</span><span
                                            style="margin-left: 1rem">{$goods.num|intval}份</span>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </volist>
                <notempty name="order['fetch_address']">
                    <div class="mui-table">
                        <div class="mui-table-cell">
                            <span>取货地址:{$order['fetch_address']}</span>
                        </div>
                    </div>
                </notempty>
                <if condition="$order['status_code'] eq 2">
                    <div class="mui-table">
                        <div class="mui-table-cell">
                            <button id="{$order['id']}" type="button" class="mui-btn mui-btn-danger mui-btn-block">
                                确认发货
                            </button>
                        </div>
                    </div>
                </if>
            </li>
        </volist>
    </ul>
</div>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/mui.min.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/user/js/jquery.lazyload.min.js?v={:SITE_VERSION}"></script>

<script>
    mui.init({});

    $(function () {
        $("img.mui-media-object").lazyload({
            effect: "fadeIn"
        });

        var btns = $('.mui-btn');
        btns.each(function (i, btn) {
            btn.addEventListener('tap', function () {
                if (confirm('此订单确认发货吗?')) {
                    window.location.assign('confirmsend?number=' + this.getAttribute('id'));
                }
            });
        });
    });
</script>